---
import "../styles/Hero3D.css";
---
<section class="hero">
  <div class="circle-avatar"></div>
  <h1>¡Hola, soy Matias Venega!</h1>
  <p>Frontend Developer enfocado en la creación de experiencias de usuario dinámicas, accesibles y visualmente atractivas. Especializado en tecnologías modernas como HTML5, CSS3, JavaScript (ES6+), y frameworks como Vue.js y React. Comprometido con la optimización del rendimiento, el diseño responsivo y la integración fluida con APIs y sistemas backend.</p>
</section>
